<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Place of Chatting</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../../dist/css/normalize.css">
    <link rel="stylesheet" href="../../dist/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">

    <style type="text/css">
      a:link { color: red; text-decoration: none;}
      a:visited { color: black; text-decoration: none;}
      a:hover { color: blue; text-decoration: underline;}
    </style>

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>



    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/favicon.ico">

  </head>
<!--
  <script>
    var ref_t = setInterval(function (){
      jQuery('#list').load('http://internetbat.com/{$mid}#list_load').fadeIn('slow');, 6000);
  </script>
-->
  <body>
    <div class="container">
      <div class="navbar-spacer"></div>
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="#chat">chat</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/rooms">Back</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <section class="header">
        <h2 class="title">Chatting based on location</h2>
      </section>
    </div>
    <script>
    	var socket = io.connect('https://www.korchid.com',  {secure: true});
/*
    	// on connection to server, ask for user's name with an anonymous callback
    	socket.on('connect', function(){
    		// call the server-side function 'adduser' and send one parameter (value of prompt)
    		socket.emit('adduser', prompt("What's your name?"));
    	});
*/
      roomname = '<%= id %>';

      socket.emit('chooseroom', roomname);

    	// listener, whenever the server emits 'updatechat', this updates the chat body
    	socket.on('updatechat', function (data) {
        //if(username == 'Admin'){
    		  //  $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
        //}else{
            $('#conversation').append('<p class="talk me"><b></b> ' + data + '<br>');
        //}
    	});
/*
    	// listener, whenever the server emits 'updaterooms', this updates the room the client is in
    	socket.on('updaterooms', function(rooms, current_room) {
    		$('#rooms').empty();
    		$.each(rooms, function(key, value) {
    			if(value == '<%=id%>'){
    				$('#rooms').append('<div>' + value + '</div>');
    			}
    			else {
    				$('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
    			}
    		});
    	});

    	function switchRoom(room){
    		socket.emit('switchRoom', room);
    	}
*/
    	// on load of page
    	$(function(){
    		// when the client clicks SEND
    		$('#datasend').click( function() {
    			var message = $('#data').val();
    			$('#data').val('');
    			// tell server to execute 'sendchat' and send along one parameter
    			socket.emit('sendchat', message);
    		});

    		// when the client hits ENTER on their keyboard
    		$('#data').keypress(function(e) {
    			if(e.which == 13) {
    				$(this).blur();
    				$('#datasend').focus().click();
    			}
    		});
    	});

    </script>
    <div class="container">
      <div id="rooms">
        <h3>Current room</h3>
      </div>
    </div>
    <div class="chatting">
      <div class="container">
        <h5><%=id%></h5>
        <hr/>
        <div class= "window">
          <div class="one-third column value" style= "border-right:1px solid black;">
          </div>
        <!--<div style="float:left;width:500px;height:250px;overflow:scroll-y;padding:10px;">-->

          <div class="one-thirds column value" id="conversation"></div>
          <div id="chat">
            <input type="button" id="datasend" value="send" />
            <input type="text" autofocus autocomplete="on" id="data" style="width:200px;margin-top:200px;" />

          </div>
          <div class="option">



            <div>
              <button onclick="location.href='/camera'">Camera</button>
              <button onclick="location.href='/streaming'">Streaming</button>
              <button onclick="location.href='/sensor'">Sensor</button>
            </div>
            <a href="/rooms" data-rel="back">back</a>

          </div>
        </div>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
