<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <div>
      <div>
        <h1><a href="/"><%= title %></a></h1>
      </div>
      <div>
        <img src="/images/macComs.jpg" alt= "Profile" id="Profile">
      </div>
    </div>
    </header>
    <div>
      <nav>
        <ol>
          <% for (var i = 0; i < rows.length; i++){ %>
            <ol>
              <a href="/topics/<%= rows[i].id %>">
                <%= rows[i].title %>
              </a>
            </ol>
          <% } %>
        </ol>
      </nav>
      <div>
        <div id="control">
        </div>
        <hr>
      <article id="explanation">
      </article>
      </div>
    </div>
  </body>
</html>
