<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Place of Chatting</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../../dist/css/normalize.css">
  <link rel="stylesheet" href="../../dist/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/favicon.ico">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="#main">Main</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#intro">Intro</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#doc">Doc</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#app">App</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="section hero" id="main">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">Chatting based on location.</h4>
          <a class="button button-primary" href="https://www.korchid.com/login">Try Chatting</a>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="images/iphone.png">
          <img class="phone" src="images/iphone.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section values" id="intro">
    <div class="container">
      <div class="row">
        <div class="one-third column value">
          <h2 class="value-multiplier">Chatting device</h2>
          <h5 class="value-heading">Chatting each other in same location</h5>
          <p class="value-description">Device provide a chatting room</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">Room environment</h2>
          <h5 class="value-heading">Multi-sensor information</h5>
          <p class="value-description">Dust, Temperature, Humidity, CO_2, beacon and so on.</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">Room security</h2>
          <h5 class="value-heading">Streaming image in your room</h5>
          <p class="value-description">Device take pictures in your place and save your place</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section get-help" id="doc">
    <div class="container">
      <h3 class="section-heading">PoC Tutorial</h3>
      <p class="section-description">Need help getting started? Please click this button! This document explain how it works and how to play this app.</p>
      <a class="button button-primary" href="https://www.korchid.com">View Docs</a>
    </div>
  </div>

  <div class="section categories" id="app">
    <div class="container">
      <h3 class="section-heading">Enjoy our PoC application</h3>
      <p class="section-description">You can interact unknown people. Even if you go alone in this place, you can hang out with them and have a great day.</p>
      <div class="row">
        <!--<div class="one column category">-->
          <img class="u-max-full-width" src="../images/app_icon.jpg">
        <!--</div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="images/placeholder.png">
        </div>-->
      </div>
      <a class="button button-primary" href="https://www.korchid.com">Download App</a>
    </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
