<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>PoS: Place of Chatting</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../../dist/css/normalize.css">
    <link rel="stylesheet" href="../../dist/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/favicon.ico">

    <style type="text/css">
      a:link { color: red; text-decoration: none;}
      a:visited { color: black; text-decoration: none;}
      a:hover { color: blue; text-decoration: underline;}
    </style>
  </head>

<!--
  <script>
    var ref_t = setInterval(function (){
      jQuery('#list').load('http://internetbat.com/{$mid}#list_load').fadeIn('slow');, 6000);
  </script>
-->
  <body>
  	<div data-role="content" id="content">
      <ul data-role="listview" data-child-pages="true"  data-filter="true" data-inset="true">
        <li data-role="list-divider"><h1>My Device</h1></li>
      </ul>
      <!--<textarea rows="300" cols="300" name="contents"></textarea>-->
      <ul>
        <li><button onclick="location.href='/auth/google'">google login</button></li>
        <li><button onclick="location.href='/auth/facebook'">Facebook login</button></li>
        <li><button onclick="location.href='/auth/twitter'">twitter login</button></li>
      <!--<li><a href="https://www.korchid.com/auth/google">Sign In with Google</a></li>
      <li><a href="https://www.korchid.com/auth/facebook">Sign In with facebook</a></li>
      <li><a href="https://www.korchid.com/auth/twitter">Sign In with twitter</a></li>-->
        <button onclick="location.href='/logout'">logout</button>
      </ul>
      <form action="/local-login" method="post">
    <div>
        <label>UserId:</label>
        <input type="text" name="userid"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
    </form>
    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>
    </div><!-- /content -->
    </div><!-- /page -->


    <div data-role="page" id= "chat" data-title="Device">
      <div data-role="header" data-theme="a">
  			<a href="#" data-rel="back">back</a>

  	  </div><!-- /header -->
        <div data-role="content" id="content">

        </div><!-- /content -->
      </div><!-- /page -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
