<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Place of Chatting</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../../dist/css/normalize.css">
    <link rel="stylesheet" href="../../dist/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/favicon.ico">

    <style type="text/css">
      a:link { color: red; text-decoration: none;}
      a:visited { color: black; text-decoration: none;}
      a:hover { color: blue; text-decoration: underline;}
    </style>
  </head>

  <body>
    <div class="container">
      <div class="navbar-spacer"></div>
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="#interwoking">Interwoking</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#localworking">Local ID</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/">Back</a></li>
          </ul>
        </div>
      </nav>
    </div>
  	<div class="container">
      <section class="header">
        <h2 class="title">Chatting based on location</h2>
      </section>
      <h5>Please Login</h5>
    </div>

    <div class="interwoking">
      <div class="container">

      </div>
    </div>

    <div class="topic loginID">
      <div class="container">
        <div class="menu" id= "interworking"  style="margin-bottom:50px;">
          <div class="row">
            <button class="button-primary" onclick="location.href='/auth/google'">google login</button>
          </div>
          <div class="row">
            <button class="button-primary" onclick="location.href='/auth/facebook'">Facebook login</button>
          </div>
          <div class="row">
            <button class="button-primary" onclick="location.href='/auth/twitter'">twitter login</button>
          </div>
        </div>
        <div id="localworking">
          <form action="/local-login" method="post">
            <div class="row">
              <div class="six columns">
                <label>E-mail</label>
                <input class="u-full-width" type="text" placeholder="test@mailbox.com" name="id"/><br/>
              </div>
            </div>
            <div class="row">
              <div class="six columns">
                <label>Password</label>
                <input class="u-full-width" type="password" placeholder="password" name="password"/>
              </div>
            </div>
            <div>
              <input class="button-primary" type="submit" value="Submit"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="logout">
      <div class="container">
        <button  onclick="location.href='/logout'">logout</button>
        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
