<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet"  href="//code.jquery.com/mobile/git/jquery.mobile-git.css">
	  <script src="//code.jquery.com/jquery-1.10.1.js"></script>
	  <script src="//code.jquery.com/mobile/git/jquery.mobile-git.js"></script>
    <script src="jquery.mobile.nestedlists.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <style type="text/css">
      a:link { color: red; text-decoration: none;}
      a:visited { color: black; text-decoration: none;}
      a:hover { color: blue; text-decoration: underline;}
    </style>


    <title><%= title %></title>
        <h1><a href="/"><%= title %></a></h1>
  </head>
  <body>

  <div data-role="page" id "iotmain">
  	<div data-role="header" data-position="fixed" data-theme="b">
  		<h1>MMCN_2016_IoT</h1>
  	</div><!-- /header -->

      <div data-role="content" id="content">
        <img src=""<%= image %> />
      </div><!-- /content -->

      <div data-role="footer" data-position="fixed" data-theme="b">
    		<h1>Demo page</h1>
    	</div><!-- /footer -->
    </div><!-- /page -->

    <div data-role="page" id= "chat" data-title="Device">
      <div data-role="header" data-theme="a">
  			<a href="#" data-rel="back">back</a>

  	  </div><!-- /header -->
        <div data-role="content" id="content">

        </div><!-- /content -->
      </div><!-- /page -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
