<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <script src="/node_modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link href="/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <title>KYM_coms</title>
</head>
<body id="target">
  <div class="container">
  <header class = "jumbotron">
  <div class="row">
    <div class="col-md-8">
      <h1><a href="/">topic</a></h1>
    </div>
  </div>
  </header>
</div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>
