/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/Untitled.png');
  background-size: cover;
  color: #000;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #910F07;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/Untitled_2.png');
  background-size: cover;
  color: #000;
}


.categories .section-description {
  margin-bottom: 4rem;
}

/* topic
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.topic {
  padding: 8rem 0 7rem;
}
.topic-heading,
.topic-description {
  margin-bottom: 1.2rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .topic {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .topic {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .topic {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}

/* web */
.navbar, .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.navbar-spacer {
    display: none;
}

.navbar > .container {
    width: 100%;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}
.header {
    margin-top: 6rem;
    margin-bottom: 100px;
    text-align: center;
}
body
/* background */
@media (min-width: 1000px) {
  .bg-logo {
    padding: 20rem 0 19rem;
    background-image: url('../images/Untitled.png');
    background-size: cover;
    color: #000;
  }
}

.interworking {
  margin-bottom: 6rem;
}

.loginID {
  padding: 6rem 0 5rem;
  background-image: url('../images/Untitled.png');
  background-size: cover;
  color: #000;
}

.chatting {
  padding: 2rem 0 19rem;
  background-image: url('../images/Untitled.png');
  background-size: cover;
  color: #000;
}

.join {
  padding: 2rem 0 19rem;
  background-image: url('../images/Untitled.png');
  background-size: cover;
  color: #000;
}

.choice {
  margin-bottom: 3rem;
  padding: 5rem 0 19rem;
  background-image: url('../images/Untitled.png');
  background-size: cover;
  color: #000;
}

.registration {
  margin-bottom: 3rem;
  padding: 5rem 0 19rem;
  background-image: url('../images/Untitled.png');
  background-size: cover;
  color: #000;
}

.camera {
  margin-bottom: 3rem;
  padding: 5rem 0 19rem;
  background-image: url('../images/Untitled.png');
  background-size: cover;
  color: #000;
}

.logout {
  margin-top: 6rem;
}

.talk {
  position: relative;
  padding: 15px;
  margin: 1em 0 1em;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: auto; }

.talk.other {
  margin-left: 30px;
  border: 5px solid #F0F0F0;
  background: #F0F0F0; }

.talk.me {
  margin-right: 30px;
  text-align: left;
  border: 5px solid #7DA2FF;
  background-color: #7DA2FF; }

.talk:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0; }

/* creates the smaller  triangle */
.talk:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #FFEFB9 transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0; }

/* creates the larger triangle */
.talk.other:before {
  top: 10px;
  bottom: auto;
  left: -30px;
  border-width: 15px 30px 15px 0;
  border-color: transparent #F0F0F0; }

/* creates the smaller  triangle */
.talk.other:after {
  top: 16px;
  bottom: auto;
  left: -21px;
  border-width: 9px 21px 9px 0;
  border-color: transparent #F0F0F0; }

.talk.me:before {
  top: 10px;
  /* controls vertical position */
  bottom: auto;
  left: auto;
  right: -30px;
  /* value = - border-left-width - border-right-width */
  border-width: 15px 0 15px 30px;
  border-color: transparent #7DA2FF; }

.talk.me:after {
  top: 16px;
  bottom: auto;
  left: auto;
  right: -21px;
  border-width: 9px 0 9px 21px;
  border-color: transparent #7DA2FF; }

.msg {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 0px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.path {
  margin-top: 20px;
  margin-left: 50px;
}
